In [1]:
s="5678"
s1="App1889"
print(s.isnumeric())
print(s1.isnumeric())

True
False

In [2]:
s="Application"
s1="App1889"
print(s.isalpha())
print(s1.isalpha())

True
False

In [4]:
s="Python programming"
s1="Python Programming"
print(s.istitle())
print(s1.istitle())

False
True

In [6]:
str="Python"
print(" ".join(str))

P y t h o n

In [7]:
s="Python"
s1=" "
print(s.isspace())
print(s1.isspace())

False
True

In [9]:
s="Python, Programming, is, easy, to, learn"
print(s.split())
print(s.split(","))

['Python,', 'Programming,', 'is,', 'easy,', 'to,', 'learn']
['Python', ' Programming', ' is', ' easy', ' to', ' learn']

In [10]:
s="Python programming is easy to learn"
lst=s.split()
print(lst)

['Python', 'programming', 'is', 'easy', 'to', 'learn']

In [11]:
s="Python programming is easy to learn"
lst=s.split()
print(lst)
print(lst.index("is"))

['Python', 'programming', 'is', 'easy', 'to', 'learn']
2

In [12]:
s="Python programming is easy to learn"
lst=list(s)
print(lst)

['P', 'y', 't', 'h', 'o', 'n', ' ', 'p', 'r', 'o', 'g', 'r', 'a', 'm', 'm', 'i', 'n', 'g', ' ', 'i', 's', ' ', 'e', 'a', 's', 'y', ' ', 't', 'o', ' ', 'l', 'e', 'a', 'r', 'n']

In [14]:
s="Python programming is easy to learn"
lst=s.split()
print(lst)
print(lst.index("is"))

['Python', 'programming', 'is', 'easy', 'to', 'learn']
2

In [15]:
s="Python programming is easy to learn"
lst=list(s)
print(lst)

['P', 'y', 't', 'h', 'o', 'n', ' ', 'p', 'r', 'o', 'g', 'r', 'a', 'm', 'm', 'i', 'n', 'g', ' ', 'i', 's', ' ', 'e', 'a', 's', 'y', ' ', 't', 'o', ' ', 'l', 'e', 'a', 'r', 'n']

In [16]:
s="Python Programmming"
print(s.replace("gra","application"))

Python Proapplicationmmming

In [19]:
t1=("Python","Programming",1989,2019,"ML","AI")
print("t1[0]=",t1[0])
print("t1[2]=",t1[2])
print("t1[-1]=",t1[-1])
print("t1[1:4]=",t1[1:4])
print("t1[2:-2]=",t1[2:-2])

t1[0]= Python
t1[2]= 1989
t1[-1]= AI
t1[1:4]= ('Programming', 1989, 2019)
t1[2:-2]= (1989, 2019)

In [20]:
t1=("Python","Programming",1989,2019,"ML","AI")
t2=(1,2,3,4,5)
print(t1)
print(t2)

('Python', 'Programming', 1989, 2019, 'ML', 'AI')
(1, 2, 3, 4, 5)

In [21]:
t1=("Python","Programming")
t2=(1989,2019,"ML","AI")
t3=t1+t2
print(t3)

('Python', 'Programming', 1989, 2019, 'ML', 'AI')

In [23]:
t1=("Python","Programming",1989,2019,"ML","AI")
print(len(t1))

6

In [24]:
t1=(12,1,5,19,25,6,18)
print(max(t1))

25

In [38]:
t1=(1,2,3,4,5)
t2=(1,2,3,4,5)
print(t1)
print(t2)
a= cmp(t1,t2)
print(a)

(1, 2, 3, 4, 5)
(1, 2, 3, 4, 5)

NameError: name 'cmp' is not defined

In [39]:
list1=["Python","Programming",1989,2019,"ML","AI"]
print(list1)
tuple1=tuple(list1)
print(tuple1)

['Python', 'Programming', 1989, 2019, 'ML', 'AI']
('Python', 'Programming', 1989, 2019, 'ML', 'AI')

In [34]:
user1={'Name':'anil','Age':29,'EmailID':'anil@gmail.com','MobileNumber':'9744556622'}
print("User1[Name]=",user1['Name'])
print("user1[EmailID]=",user1['EmailID'])
print("user1[Age]=",user1['Age'])
print("user1[MobileNumber]=",user1["MobileNumber"])

User1[Name]= anil
user1[EmailID]= anil@gmail.com
user1[Age]= 29
user1[MobileNumber]= 9744556622

In [35]:
user1={'Name':'anil','Age':29,'EmailID':'anil@gmail.com','MobileNumber':'9744556622'}
print(user1['EmailID'])
user1['EmailID']='AnilKumar@gmail.com'
print(user1['EmailID'])
user1['Address']='Hyderabad'
print(user1['Address'])

anil@gmail.com
AnilKumar@gmail.com
Hyderabad

In [37]:
user1={'Name':'anil','Age':29,'EmailID':'anil@gmail.com','MobileNumber':'9744556622'}
del user1['EmailID']
user1.clear()
del user1

In [40]:
user1={'Name':'anil','Age':29,'EmailID':'anil@gmail.com','MobileNumber':'9744556622'}
print(len(user1))
user1['address']='Hyderabad'
print(len(user1))

4
5

In [41]:
user1={'Name':'anil','Age':29,'EmailID':'anil@gmail.com','MobileNumber':'9744556622'}
print(str(user1))

TypeError: 'str' object is not callable

In [42]:
user1={'Name':'anil','Age':29,'EmailID':'anil@gmail.com','MobileNumber':'9744556622'}
user2=user1.copy()

print(user1)
print(user2)

{'Name': 'anil', 'Age': 29, 'EmailID': 'anil@gmail.com', 'MobileNumber': '9744556622'}
{'Name': 'anil', 'Age': 29, 'EmailID': 'anil@gmail.com', 'MobileNumber': '9744556622'}

In [43]:
user1={'Name':'anil','Age':29,'EmailID':'anil@gmail.com','MobileNumber':'9744556622'}
user2=user1.copy()

print(user1)
print(user2)
user1['Address']='Hyderabad'
print(user1)
print(user2)

{'Name': 'anil', 'Age': 29, 'EmailID': 'anil@gmail.com', 'MobileNumber': '9744556622'}
{'Name': 'anil', 'Age': 29, 'EmailID': 'anil@gmail.com', 'MobileNumber': '9744556622'}
{'Name': 'anil', 'Age': 29, 'EmailID': 'anil@gmail.com', 'MobileNumber': '9744556622', 'Address': 'Hyderabad'}
{'Name': 'anil', 'Age': 29, 'EmailID': 'anil@gmail.com', 'MobileNumber': '9744556622'}

In [44]:
user1={'Name':'anil','Age':29,'EmailID':'anil@gmail.com','MobileNumber':'9744556622'}
print(user1.items())

dict_items([('Name', 'anil'), ('Age', 29), ('EmailID', 'anil@gmail.com'), ('MobileNumber', '9744556622')])

In [45]:
user1={'Name':'anil','Age':29,'EmailID':'anil@gmail.com','MobileNumber':'9744556622'}
print(user1.values())

dict_values(['anil', 29, 'anil@gmail.com', '9744556622'])

In [46]:
user1={'Name':'anil','Age':29,'EmailID':'anil@gmail.com','MobileNumber':'9744556622'}
user2=user1.copy()
print(user1.values())
print(user2.values())

dict_values(['anil', 29, 'anil@gmail.com', '9744556622'])
dict_values(['anil', 29, 'anil@gmail.com', '9744556622'])

###%s %d

In [51]:
lst =['Python','Programming']
print("%s%s"%(lst[0],lst[1]))

PythonProgramming

In [52]:
lst =['Python','Programming']
print("{0} {1}".format(lst[0],lst[1]))

Python Programming

In [76]:
lst=[1,2,3,4]
print("%d %d %d %d"%(lst[0],lst[1],lst[2],lst[3]))

1 2 3 4

In [77]:
lst=[1,2,3,4]
print("Value at : {0} value at : {1}".format(lst[0],lst[1]))
print("Vlaue at : {0} value at : {1}".format(lst[2],lst[3]))

Value at : 1 value at : 2
Vlaue at : 3 value at : 4

In [72]:
contacts={}
def addContact(name,phone):
    if name not in contacts:
        contacts[name]=phone
        print("contact %s added" % name)
    else:
        print("contact %s already exists" % name)
    return
              
addContact("Anil",95137521)
addContact("Harsha",996633221)
addContact("Anil",99887744466)

contact Anil added
contact Harsha added
contact Anil already exists

In [63]:
def searchContact(name):
    if name in contacts:
        print(name, ":", contacts[name])
    else:
        print("%s does not exists" % name)
    return

searchContact("Anil")
searchContact("ajay")
searchContact("Harsha")
searchContact("Kranth")

Anil : 95137521
ajay does not exists
Harsha does not exists
Kranth does not exists

In [64]:
print(contacts)

{'Anil': 95137521, 'Hrasha': 996633221}

In [73]:
def importContacts(newContacts):
    contacts.update(newContacts)
    print(len(newContacts.keys()),"contacts added successfully")
    return
newContacts={'Dinesh':9955112233,'Ajay':9988774455}
importContacts(newContacts)
print(contacts)

2 contacts added successfully
{'Anil': 95137521, 'Harsha': 996633221, 'Dinesh': 9955112233, 'Ajay': 9988774455}

In [68]:
print(contacts)

{'Anil': 95137521, 'Hrasha': 996633221, 'Dinesh': 9955112233, 'Ajay': 9988774455}

In [74]:
def deleteContact(name):
    if name in contacts:
        del contacts[name]
        print(name," : is deleted from the contacts")
    else:
        print(name," is not exits in the contacts")
    return
deleteContact("Harsha")
deleteContact("Naveen")
print(contacts)

Harsha  : is deleted from the contacts
Naveen  is not exits in the contacts
{'Anil': 95137521, 'Dinesh': 9955112233, 'Ajay': 9988774455}

In [75]:
def updateContact(name,phone):
    if name in contacts:
        contacts[name]=phone
        print(name," : Updated with new phone number")
    else:
        print(name,"Not exits in the contacts")
    return

updateContact("Anil",9966552211)
updateContact("Harsha",9988774422)
print(contacts)

Anil  : Updated with new phone number
Harsha Not exits in the contacts
{'Anil': 9966552211, 'Dinesh': 9955112233, 'Ajay': 9988774455}

#### packages and Modules

In [78]:
from math import floor as f1
f1(123.456)

123

In [79]:
from math import factorial as fact
fact(5)

120

In [81]:
import math
math.factorial(5)

120

In [83]:
import random
def generateRandomNumbers(n,lb,ub):
    for i in range(0,n):
        print(random.randint(lb,ub),end=" ")
    return

generateRandomNumbers(10,12,120)

105 61 84 13 82 87 43 70 107 89

#### Assignment on math functions

In [95]:
print("The ceil of 2.3 is : ",end="")
print(math.ceil(2.3))

The ceil of 2.3 is : 3

In [94]:
print("The floor of 2.3 is : ",end="")
print(math.floor(2.3))

The floor of 2.3 is : 2

In [92]:
print("The absolute value of -10 is : ",end="")
print(math.fabs(-10))

The absolute value of -10 is : 10.0

In [96]:
print("The factorial of 5 is : ",end="")
print(math.factorial(5))

The factorial of 5 is : 120

In [98]:
print("The copysigned value of -10 and 5.5 is : ",end="")
print(math.copysign(5.5,-10))

The copysigned value of -10 and 5.5 is : -5.5

In [99]:
print("The gcd of 5 and 15 is : ",end="")
print(math.gcd(5,15))

The gcd of 5 and 15 is : 5

In [100]:
print("The e**4 value is :",end="")
print(math.exp(4))

The e**4 value is :54.598150033144236

In [101]:
print("The value of log 2 with base 3 is : ",end="")
print(math.log(2,3))

The value of log 2 with base 3 is : 0.6309297535714574

In [102]:
print("The value of log 2 of 16 is : ",end="")
print(math.log2(16))

The value of log 2 of 16 is : 4.0

In [103]:
print("The value of log 10 of 10000 is : ",end="")
print(math.log10(10000))

The value of log 10 of 10000 is : 4.0